.privacy{
    .navbar{
    background-color: rgba(0, 0, 0, 0.7);
    }

    .main{
        margin-bottom: 50px;
        .title{
            padding-top: 100px;
        }
        .privacy-items{
            padding: 20px 0;
    
            &:not(:last-child){
            border-bottom: 1px solid #977342;
            }
            .privacy-title{
                font-size: 20px;
                color: #CFA773;
                padding-bottom: 16px;
            }
            li:not(:last-child){
                padding-bottom: 10px;
            }
            p{
                line-height: 1.5;
                &:not(:last-child){
                    padding-bottom: 10px;
                }
            }
        }
    }

    .footer{
        height: calc(100vh - 62px);
        .logo-image{
            padding: 0;
            top: calc(50vh - 62px);
            transform: translateY(-50%);
        }
    }
}